.bg {
  height: 100vh;

  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: center;
}

.bg::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #88d5ef, #002f4b);
  opacity: 0.6;
}
.home-body {
  top: 0;
  color: white;
  padding: 10vh;
  position: absolute;
  margin-top: 30vh;
  text-align: center;
  font-size: 5vw;
}

.arrow-down {
  width: 100%;
  position: absolute;
  bottom: 2vh;
  text-align: center;
}

.arrow-down::after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-right: 4px solid #ffff;
  border-bottom: 4px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: 3s arrow infinite ease;
  animation: 3s arrow infinite ease;
}

@-webkit-keyframes arrow {
  0%,
  100% {
    top: 30px;
  }
  50% {
    top: 60px;
  }
}
@keyframes arrow {
  0%,
  100% {
    top: 30px;
  }
  50% {
    top: 60px;
  }
}

.arrow-down button {
  margin-top: 195px;
  background-color: #34b3a0;
  padding: 15px;
  border-radius: 30px;
  color: white;
  font-size: 20px;
  border: none;
}
