nav a {
  margin-left: 15px;
}

.logo-img {
  margin-right: 20px;
  padding-right: 25px;
  border-right: 2px solid black;
  background: transparent;
  height: 2em;
  width: 5em;

  margin: 0px;
}

input[type="search"] {
  font-size: 17px;
  outline: 0;
  width: 200px;
  background-color: transparent;
  border-width: 0 0 1px;
  border-color: black;
}
.navfont {
  font-family: "Fjalla One", sans-serif;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}

nav.stroke ul li a {
  position: relative;
}
nav.stroke a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: black;
  height: 2px;
}
nav.stroke a:hover:after {
  width: 100%;
}
.dropdown-menu {
  min-width: 200px;
}
.dropdown-menu.columns-2 {
  min-width: 400px;
}
.dropdown-menu li a {
  text-decoration: none;
}
.multi-column li a {
  padding: 15px 30px;
  font-weight: 100px;
}
.multi-column-dropdown {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.multi-column-dropdown li a {
  display: block;
  clear: both;
  line-height: 1.428571429;
  color: #333;
  white-space: normal;
}
.account-dropdown {
  height: 150px;
  padding-top: 1002px;
}
.account-dropdown li {
  margin-bottom: 20px;
}
.account-dropdown li a {
  color: black;
}
.multi-column-dropdown li a:hover {
  text-decoration: none;
}

@media (max-width: 767px) {
  .dropdown-menu.multi-column {
    min-width: 240px !important;
    overflow-x: hidden;
    background: white;
  }
  .navtext {
    background: white;
  }
}
.dropdown-toggle::after {
  display: none !important;
  transition: all 0.5s;
  width: 100%;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
