#App {
  min-height: 100vh;
  width: 100%;
  margin: 0;
}

.title {
  width: 100%;
  height: auto;
  position: absolute;
  background: #7ea8be;
  opacity: 0.95;
  border-radius: 7px;
  padding: 20px;
}
.h1 {
  color: aquamarine;
  text-align: center;
  left: 10%;
}
nav {
  background: #000b11;
  position: absolute;
  right: 3%;

  background: #7ea8be;
  opacity: 0.95;
  border-radius: 15px;
}
@media screen and (max-width: 500px) {
  .title {
    background: burlywood;
  }
}
